myenv/
POSTGRE_TABLES.pdf
app.log
Consumers/__pycache__/
Energy_consumption_sensors/__pycache__/
Predictor/__pycache__/
Sensor_core/__pycache__/
Setup/__pycache__/
Training_scripts/__pycache__/
Predictor/rf_test.skops
Training_scripts/Training/historical_consumptions_updated.csv
Q&A.md
WORK_IN_PROGRESS.md